html {
    font-size: 16px;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.results-section {
    min-height: 24em;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    padding-top: 0.6em;
    padding-left: 6em;
    padding-right: 6em;
    border-radius: 0 0 32px 32px;
    
}

.results-heading {
    font-size: 18px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.8);
}

.results-score-container {
   margin-top: 1em;
    display: inline-block;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    height: 155px;
    width: 155px;
    position: relative;
}

.results-score-heading {
    font-size: 48px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(-50%, -110%); 

    
}

.results-score-subheading {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: hsla(0, 0%, 100%, 0.5);
}

.results-description {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1em;
}

.results-description-comparison {
    color: hsla(0, 0%, 100%, 0.8);
    margin-top: 1em;
}