* {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin: 1em;
    position: sticky;
}
.attribution a { color: hsl(228, 45%, 44%); 
}

html {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

.results-section {
    min-height: 24em;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    padding-top: 0.6em;
    padding-left: 6em;
    padding-right: 6em;
    border-radius: 32px;
    
}

.results-heading {
    font-size: 18px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.8);
}

.results-score-container {
   margin-top: 1em;
    display: inline-block;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    height: 155px;
    width: 155px;
    position: relative;
}

.results-score-heading {
    font-size: 72px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(-50%, -110%); 

    
}

.results-score-subheading {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: hsla(0, 0%, 100%, 0.5);
}

.results-description {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1em;
}

.results-description-comparison {
    color: hsla(0, 0%, 100%, 0.8);
    margin-top: 1em;
}

.summary-section {
 padding: 1em 2.2em;
 border-radius: 0 32px 32px 0;
}

.summary-heading {
    font-size: 18px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
    text-align: left;
   margin-left: 10px;
}

.summary-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
}

 .summary-panel-row {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
  padding: 1.2em 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
 
}

.summary-panel-row-category {
   
}

.summary-panel-row-score {
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.summary-panel-row-score-secondary {
    color: hsla(224, 30%, 27%, 0.5);
}

.summary-panel-row:nth-of-type(1) {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.05);
}

.summary-panel-row:nth-of-type(2) {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.05);
}

.summary-panel-row:nth-of-type(3) {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.05);
}

.summary-panel-row:nth-of-type(4) {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.05);
}

.icon {
    vertical-align: middle;
    margin-right: 10px;
}

.button {
    color: 	hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    border: none;
    text-decoration: none;
    padding: 1.2em 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    margin-top: 1.2em;
    font-size: 18px;
}

.button:hover, .button:active {
    background-color: hsl(241, 81%, 54%);
}


@media (min-width: 600px) {

body {
    position: relative;
    background-color: hsl(221, 100%, 96%);
}

.summary-section {
    background-color: hsl(0, 0%, 100%);
    max-width: 400px
}

   .container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
   }

   .button {
    min-width: 300px;
    max-width: 100%;
    align-self: center;
   }



}